@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$base-color: #fdfdfb;
$button-margin: 3vh;

* {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 5vh;
}

h3 {
  font-size: 2.5vh;
}

body {
  background: $base-color;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  background: $base-color;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.Headline {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.text {
  width: 50vh;
  font-size: 1.5vh;
}

.SampleBox {
  margin-top: $button-margin;
  width: 50vh;
  height: 70vh;
  position: relative;
}

.NavContainer {
  display: block;
  align-content: center;
  border-color: #838383;
  border-radius: 2rem;
  border-width: 1px;
  margin: auto;
  margin-bottom: 2vh;
  width: 100%;
}

.NavButton {
  display: inline;
  margin-right: $button-margin;
  margin-left: $button-margin;
  font-size: 2vh;
  cursor: pointer;
}


.Sample {
  // background-color: lightblue;
  width: 99%;
  height: 90%;
  position: relative;
  border-style: solid;
  border-color: #838383;
  border-radius: 2rem;
  border-width: 1px;
}

$fade: 200ms;

.fade-in {
  animation: fadeIn ease $fade;
  -webkit-animation: fadeIn ease $fade;
  -moz-animation: fadeIn ease $fade;
  -o-animation: fadeIn ease $fade;
  -ms-animation: fadeIn ease $fade;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}