@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$base-color: #fdfdfb;
$button-margin: 3vh;
$mediaMinWidth: 480px;

* {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 5vh;
}

h3 {
  font-size: 2.5vh;
}

body {
  background: $base-color;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  background: $base-color;
  text-align: center;
  font-family: "Lato", sans-serif;
   color: #333642
}

.Header {
  // margin-bottom: 2vh;
  // margin-top: 2vh;
  height: 10vh;
  // background-color: blue;
}

.about-text {
  width: 50vh;
  font-size: 1.7vh;
}

.NavContainer {
  display: block;
  align-content: center;
  text-align: center;
  margin: auto;
  height: 5vh;
  width: 100%;
  // background-color: green;
}

.NavButton {
  display: inline;
  margin-right: $button-margin;
  margin-left: $button-margin;
  font-size: 2vh;
  cursor: pointer;
}

.view {
  display: block;
  height: 80vh;
  // background-color: blueviolet;
  overflow: hidden;
}

.footer {
  display: block;
  height: 5vh;
  // background-color: pink;
}

$imgContainerSize: 30vh;

.img-container {
  margin-top: 2vh;
  margin-bottom: 2vh;

  /* Set size of crop area. Setting its location happens bellow. */
  width: $imgContainerSize;
  height: $imgContainerSize;
  overflow: hidden;  
  border-radius: 50%;
  object-fit: cover;
}

img {
  display: block;
  position: relative;
  left: .1vh;
}

.SampleBox {

  width: 50vh;
  height: 70vh;
  position: relative;

  @media (max-width: $mediaMinWidth) {
    background-color: red;
    // width: 100vh;
    // height: 60vh;
  }

  .worktext {
    width: 90vmin;
    word-wrap: break-word;
    overflow-y: scroll;
  }
}


.contact-form {
  width: 50vw;

  .message {
    height: 20vh;
  }

  .button {
    width: 10vw;
    height: 25px;
  }
}

.Sample {
  // background-color: lightblue;
  width: 99%;
  height: 90%;
  position: relative;
  border-style: solid;
  border-color: #838383;
  border-radius: 2rem;
  border-width: 1px;
}

.skill-list {
  display: block;
  align-content: center;

  .skill-item {
    margin-top: 1rem;
    .category {
      // background-color: red;
      color: #377fb4;
      font-weight: bold;
      display: inline;
      font-size: 1rem;
      padding-right: 1.5vh;
    }
    
    .list {
      display: inline;
      font-size: 1.2rem;

      // background-color: blueviolet;
    }
  }
}

.skill {
  margin-right: 1vw;
  margin-bottom: 2vh;
  width: 100%;
  color: rgb(1, 114, 129);
}

$fade: 2000ms;

.fade-in {
  animation: fadeIn ease $fade;
  -webkit-animation: fadeIn ease $fade;
  -moz-animation: fadeIn ease $fade;
  -o-animation: fadeIn ease $fade;
  -ms-animation: fadeIn ease $fade;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}